.movie-title {
	font-size: 30px;
	background-color: #002a32;
	margin: -40px 30px 0;
	padding: 5px 10px;
	max-width: 500px;
	color: #6eb98f;
}

.movie-poster {
	border-radius: 10px;
	width: 300px;
}

.movie-genre {
	background-color: #002a32;
	display: inline-block;
	max-width: 300px;
	margin: 0 0 0 30px;
	padding: 5px 10px;
	color: #fff;
}

.movie-director {
	background-color: #002a32;
	display: inline-block;
	margin: 0 30px;
	padding: 5px 10px;
	color: #fff;
	max-width: 500px;
}

.movie-description {
	margin: 20px 20px;
	text-align: justify;
}

.back-button {
	background-color: #2b7873;
	border-color: #2b7873;
	margin: 0 20px;
}

.back-button:hover {
	background-color: #014445;
	border-color: #014445;
	color: #fff;
}
