.form {
	border-radius: 10px;
	left: 50%;
	max-width: 450px;
	min-height: 660px;
	padding: 100px 60px !important;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%) !important;
}

.jumbotron {
	background-color: transparent;
	color: #333;
	padding: 0;
}

label {
	font-size: 12px;
	padding-left: 16px;
}

.form-group {
	font-size: 10px;
	position: relative;
	label {
		left: 0;
		opacity: 0;
		position: absolute;
		top: calc(50% - 7px);
		transition: all 0.3s ease;
	}
	input:not(:placeholder-shown) {
		font-size: 15px;
		padding: 30px 0 12px 15px;
	}
	input:not(:placeholder-shown) + label {
		opacity: 0.7;
		transform: translateY(-11px);
	}
}

.form-control:focus {
	border-color: #2b7873;
	box-shadow: none;
}

.form-control::placeholder {
}

.input-group-text {
	background-color: #fff;
	border-right: none;
}

.registration-button {
	background-color: #2b7873;
	border-color: #2b7873;
}

.registration-button:hover {
	background-color: #014445;
	border-color: #014445;
	color: #fff;
}
